<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Abbrev:</strong>
  <%= @club.abbrev %>
</p>

<p>
  <strong>Website:</strong>
  <%= @club.website %>
</p>

<p>
  <strong>School:</strong>
  <%= @club.school %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @club.facebook_id %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @club.facebook_url %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @club.contact_person %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @club.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @club.contact_email %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @club.introduction %>
</p>

<p>
  <strong>Size:</strong>
  <%= @club.size %>
</p>

<p>
  <strong>Sgid:</strong>
  <%= @club.SGID %>
</p>

<p>
  <strong>Callink permalink:</strong>
  <%= @club.callink_permalink %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @club.requirements %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @club.meeting %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>

<p>
  <strong>Activity summary:</strong>
  <%= @club.activity_summary %>
</p>


<p>
  <strong>Related clubs:</strong>
  <%= @club.related_clubs %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
